<template>
  <v-data-table v-on="events"
                v-bind="settings">
    <template v-slot:item="{ item, index }">
      <tr>
        <td v-for="col in columns"
            :key="`${index}.item.${col.value}`">
          <v-chip class="chip"
                  v-if="col.highlighting"
                  :color="highlightedColumn(col.value, item[col.value]).color">
            {{ highlightedColumn(col.value, item[col.value]).text }}
          </v-chip>
          <span v-else
                class="chip">
            {{ item[col.value] }}
          </span>
        </td>
      </tr>
    </template>
    <template slot="body.append"
              v-if="settings.totals">
      <tr>
        <td class="td--total"
            v-for="col in columns"
            :key="`total__${col.value}`">
          <span class="chip">
            {{ settings.totals[col.value] }}
          </span>
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
  import AbstractTable from './AbstractTable.js'

  export default {
    name: "StyledTable",
    extends: AbstractTable,
  }
</script>