<template>
  <div class="block">
    <Caption :caption="caption" />
    <slot></slot>
  </div>
</template>

<script>

import Caption from './Caption'

export default {
  name: 'Block',
  props: {
    caption: Object,
  },
  components: {
    Caption,
  }
}
</script>