<template>
  <div  class="caption" 
        :style="{ 
          borderColor: caption.borderColor 
        }">
    <div  class="inner" 
          :style="{ 
            color: caption.color, 
            backgroundColor: caption.backgroundColor, 
          }">
      {{ caption.text }}
    </div>
  </div>
</template>

<script>
  export default {
    name: "Caption",
    props: {
      caption: Object,
    }
  }
</script>

<style lang="sass" scoped>

  .caption
    padding-right: 1px

    border-right: 6px solid
  
  .inner
    direction: ltr

    padding: 10px

    border-top-left-radius: 63px
    border-bottom-left-radius: 63px
    
    background-color: #eee

    font-size: 30px
    text-align: right

</style>