<template>
  <div class="chart">
    <div  v-if="data"
          class="column column--legend">
      <Label  v-for="(label, index) in data.datasets"
              :key="index"
              :text="label.label" 
              :color="label.borderColor"
            />
      </div>    
      <line-chart class="column column--chart"
                  :options="$options.config" 
                  :chart-data="data"></line-chart>
  </div>
</template>

<script>

  import config from './config'

  import Label from './Label'
  import LineChart from './LineChart.js'

  export default {
    name: "Chart",
    components: {
      Label,
      LineChart,
    },
    config,
    props: {
      data: Object,
    },
  }
</script>

<style lang="sass">

  .chart
    display: flex
    flex-wrap: nowrap
    align-items: center
    
    padding: 10px 15px 5px 70px
    margin-top: 10px

    background-color: #fff
    border-right: 1px solid #d9d9d9

    @media screen and ( max-width: 1340px )
      padding-left: 15px

    .column--chart
      flex: 1

      height: 320px

    .column--legend
      padding-left: 30px
      padding-right: 30px
</style>