<template>
  <div class="label">
    <div class="text">{{ text }}</div>
    <div  class="color"
          :style="{backgroundColor: color}"></div>
  </div>
</template>

<script>
  export default {
    name: "LegendLabel",
    props: {
      color: String,
      text: String,
    }
  }
</script>

<style lang="sass" scoped>
  .label
    display: flex
    align-items: center
    justify-content: flex-end
    
    .color
      flex: 0 0 30px
      
      height: 4px
      max-width: 30px

      margin-right: 5px

      border-radius: 4px

    .text
      width: max-content

      font-size: 14px
      white-space: nowrap

</style>