<template>
  <footer>
    <fieldset>
      <legend>
        <div>Powered By</div>
        <div>
          <v-img src="~@/assets/images/logo-min.png" class="logo"></v-img>
        </div>
        <div>A Point</div>
      </legend>
    </fieldset>
  </footer>
</template>

<script>
  export default {
    name: "Footer"
  }
</script>

<style lang="sass" scoped>
  footer
    left: 0
    right: 0
    bottom: 0
    position: fixed
    position: -webkit-sticky

    height: 28px

    direction: ltr

  fieldset
    height: 18px

    border-left: 0
    border-right: 0
    border-color: #dadada

    text-align: center

  legend
    align-items: center
    display: inline-flex

    padding: 0 8px

    color: #000
    font-size: 14px
    font-family: Arial !important

    .logo
      max-width: 28px
      max-height: 28px

      margin: 0 5px
</style>