<template>
  <header :class="['header', { 'header--nologo': !logo }, 'primary--text']">
    <v-container  fluid
                  class="wrapper">
      <v-row  justify="space-between" 
              align="end">
        <v-col  cols="4"
                class="column">
          <div class="menu">
            <v-btn  v-for="(item, index) in menu"
                    text
                    :key="index"
                    class="menu__item"
                    @click="$emit('navigation', item.link)"
                    :class="{'menu__item--active': isActive(item)}"
                    :color="isActive(item) ? 'primary' : 'secondary'">{{ item.text }}</v-btn>
          </div>
        </v-col>
        <v-col  cols="4"
                class="column">
            <img  v-if="logo"
                  
                  :src="logo" 
                  
                  class="image-centered logo" />
        </v-col>
        <v-col  cols="4"
                class="column finish-date">
          <span>מעודכן ל: {{ lastUpdate }} </span>
          <v-btn  v-if="showReloadIcon"
                  text
                  @click="$emit('updateScreen')"
                  class="menu__item secondary--text btn btn--refrash"
                />
          <v-btn  v-if="isAuth"
                  text
                  @click="signout"
                  class="menu__item secondary--text btn btn--logout"
                />
        </v-col>
      </v-row>
    </v-container>
  </header>
</template>

<script>
  import { isOnline, logout, getPrivateData } from '../Utils'

  export default {
    name: 'Header',
    props: {
      logo: String,
      isAuth: Boolean,
      menuItem: String,
      lastUpdate: String,
      onlineRange: Array,
    },
    data: () => {
      return {
        menu: [
          {
            isHome: true,
            text: 'דוח תחזוקה',
            link: '/dashboard/mtc',
          },
          {
            text: 'דוח מצב גביה',
            link: '/dashboard/money',
          }
        ]
      }
    },
    methods: {
      /**
       * Checking is active menu item
       * 
       * @param { object } item 
       * 
       * @returns boolean
       */
      isActive(item) {
        if (['/dashboard', '/dashboard/'].includes(this.menuItem) && item.isHome)
          return true

        return this.menuItem === item.link
      },
      /**
       * Logout from system
       * 
       * @returns undefined 
       */
      async signout() {
        const compID = getPrivateData('appd').c

        await logout()

        window.location.href = `/dashboard/?compID=${compID}`
      }
    },
    computed: {
      /**
       * Checking is offline for showing reload button
       * 
       * @returns boolean
       */
      showReloadIcon() {
        return !isOnline(this.onlineRange)
      }
    }
  }
</script>

<style lang="sass" scoped>
  
  .header
    height: initial !important

    margin-bottom: 57px

    text-align: center

    &--nologo
      padding-top: 100px
    
    .row
      margin-top: -5px
  
  .wrapper
    padding: 0 35px

    .column
      padding-top: 0
      padding-bottom: 0

  .menu
    display: flex
    align-items: center

    margin-left: -13px
    margin-right: -13px

    .menu__item
      padding-left: 13px
      padding-right: 13px

      font-size: 36px
      letter-spacing: 1px

      @media screen and ( max-width: 1340px )
        font-size: 20px

      &--active
        text-decoration: underline

  .logo
    display: inline-block

    // width: 216px
    // height: 99px

    padding-bottom: 1px

    border-bottom: 5px solid

    img
      width: 100%
      height: 100%

  .finish-date
    color: #565656
    font-size: 30px
    text-align: left

    @media screen and ( max-width: 1340px )
      font-size: 18px

  .btn
    position: relative

    margin-right: 1px

    background-size: auto
    background-position: center
    background-repeat: no-repeat

    &::after
      content: ''

      top: 0
      position: absolute

      width: 1px
      height: 100%

      background-size: 100% 100%
      background-color: transparent
      background-image: url('../assets/images/icon--dash.png')

    &--refrash
      width: 37px
      height: 32px

      background-image: url('../assets/images/icon--refrash.png')

      &::after
        right: -1px
        

    &--logout
      width: 33px
      height: 31px

      background-image: url('../assets/images/icon--logout.png')
      
      &::after
        right: -1px


</style>