<template>
  <div class="page-not-found">
    <div>
      Error 404<br />
      Page Not Found
    </div>
  </div>
</template>

<script>

  export default {
    name: "page-404"
  }

</script>

<style lang="sass" scoped>

  .page-not-found
    display: flex
    align-items: center
    justify-content: center

    height: 100%

    color: #000
    font-size: 30px
    text-align: center

</style>