<template>
  <div class="login">
    <v-card width="453" 
            class="mx-auto login__card">
      <div  v-if="loading"
      
            class="card__overlay">
        <v-progress-circular  :size="50"

                              indeterminate
                              color="primary">
        </v-progress-circular>
      </div>
      <v-card-title class="card__title">
        <v-img  v-if="logo"
                :src="logo" 
        
                class="card__logo mx-auto"
              />
        <fieldset>
          <legend>עידן (ש.נ.י) ניהול אחזקת מבנים בע”מ</legend>
        </fieldset>
      </v-card-title>
      <div class="card__main">
        <v-card-text class="main__text mx-auto">
          <v-form ref="loginForm">
            <div class="form__field">
              <v-text-field v-model="username"

                            label="שם משתמש" 
                            :rules="fieldRules"
                            class="field field--username"
                          />
            </div>
            <div class="form__field">
              <v-text-field v-model="password"

                            :type="showPassword ? 'text' : 'password'"
                            :rules="fieldRules"

                            label="סיסמה"
                            class="field field--password"
                          />
              <v-btn  @click="toggleShowPassword"

                      :class="['eyetoggle', { 'eyetoggle--active': showPassword }]"

                      color="transparent" 
                    />
            </div>
            <div class="form__field">
              <v-checkbox v-model="rememberMe" 
                          
                          label="זכור אותי"
                          class="mx-2 remember-me" 
                        />
            </div>
          </v-form>
          <v-card-actions>
            <v-btn  @click="signIn()"
                    
                    color="primary"
                    min-width="100%"
                    class="mx-auto sign-in">כניסה</v-btn>
          </v-card-actions>
          <v-alert  v-if="autherror"

                    type="error"
                    class="fade-out">
            {{ getMessage(autherror) }}
          </v-alert>
        </v-card-text>
      </div>
    </v-card>
    <Footer />
  </div>
</template>

<script>
  import queryString from 'query-string'

  import { savePrivateData } from '../Utils'
  import { apiGetSessionToken } from '../services/APointAPI'

  import Footer from '../components/Footer'

  export default {
    name: "Login",
    components: {
      Footer
    },
    data: function() {

      return {
        username: '',
        password: '',
        loading: false,
        autherror: null,
        rememberMe: true,
        showPassword: false,
        logo: require('../assets/images/logo-big.png'),

        fieldRules: [
          v => !!v || 'שדה נדרש',
        ],
      }
    },
    mounted: function() {
      
      const search = queryString.parse(window.location.search)

      if (search.compID) {
        // Overwriting logo calling api
      }

    },
    methods: {
      /**
       * On sing in button click
       * 
       * @returns undefined | boolean
       */
      signIn: function() {
        // Showing loadig overlay
        this.loading = true

        // Chekcing form validation by rules
        if (!this.$refs.loginForm.validate()) return this.loading = false

        // Parsing location search params 
        const search = queryString.parse(window.location.search)

        // Getting tocken
        apiGetSessionToken(search.compID, this.username, this.password)
          .then((result) => {
            // is correct data
            if (result.APIResponseCode === 0 && result.APIResponseDescription === 'Success') {
              // reseting errors
              this.autherror = null

              // Saving data in localStorage
              const privateData = {
                a: this.username,
                b: this.password,
                c: search.compID,
              }
              savePrivateData('appd', privateData, this.rememberMe)

              // Reloading to dashboard page
              window.location.href = "/dashboard/"
            } else {
              // Printing error
              this.autherror = result.APIResponseDescription

              setTimeout(() => this.autherror = "", 5500)
            }

            this.loading = false
          })
            .catch((error) => {
              console.log(error)
              console.log("sessionToken Error")

              this.loading = false
            })
      },
      /**
       * Getting error message by error name
       * 
       * @param { string } name
       * 
       * @returns string
       */
      getMessage: function(name) {
        const errors = {
          UserAuthFailed: 'אישורים לא חוקיים',
          WrongParamsSupplied: 'פרמטרים שגויים סופקו',
        }

        return errors[name] || 'שגיאה לא ידועה. בבקשה נסה שוב מאוחר יותר.'
      },
      /**
       * Toggling password field show handler
       * 
       * @returns boolean
       * 
       */
      toggleShowPassword: function() {
        
        return this.showPassword = !this.showPassword
      },
    },
  }
</script>

<style lang="sass">
  
  .login
    position: relative

    .card__overlay
      top: 0
      left: 0
      z-index: 10
      position: absolute

      width: 100%
      height: 100%

      display: flex
      align-items: center
      justify-content: center

      background-color: #ffffff75

    &__card
      min-height: 100vh

      padding-top: 45px

      border-radius: 0 !important

      box-shadow: none !important
      background-color: #ffffffc7 !important

      .card__logo
        height: auto
        max-width: 236px

      .card__title
        flex: 0 0 100%
        align-self: flex-start

        padding: 0

        fieldset
          display: block

          width: 100%

          margin-top: 30px

          border: none
          border-top: 1px solid rgb( 42, 114, 160 )

          text-align: center

          legend
            padding: 0 4px

            font-size: 24px
            text-transform: uppercase
            color: rgb( 42, 114, 160 )

      .card__main
        flex: 0 0 100%
        
        margin-top: 30px

        @media screen and (min-height: 700px)
          padding-bottom: 50px
          margin-top: 18vh

        .sign-in
          min-height: 50px

          font-size: 18px

          @media screen and (min-height: 700px)
            margin-top: 28px

        .main__text
          max-width: 347px

          padding: 0

        .form__field
          position: relative

          margin: 0 0 15px

          @media screen and (min-height: 700px)
            margin: 0 0 36px


        .field 
          padding: 0 40px 0 0

          background-size: 35px auto
          background-repeat: no-repeat
          background-position: top right

          &--username
            background-size: 35px 31px

            background-image: url(../assets/images/icon--user.png)

          &--password
            background-size: 29px 34px

            background-image: url(../assets/images/icon--private.png)

        label
          font-size: 16px
          color: rgb( 25, 27, 28 )

        .remember-me

          .v-icon
            display: none

          .v-input--selection-controls__input
            position: relative

            width: 28px
            height: 28px

            border-radius: 2px
            border: 1px solid rgb( 154, 198, 34 )
            background-color: rgb( 255, 255, 255 )

          &.v-input--is-label-active

            .v-input--selection-controls__input::after
              content: ''

              left: 6px
              bottom: 6px
              position: absolute

              width: 24px
              height: 22px

              background-size: 100% 100%
              background-repeat: no-repeat
              background-image: url(../assets/images/icon--check.png)

              pointer-events: none

        .v-card__actions
          padding: 0

        .v-alert
          margin-top: 20px

        .eyetoggle
          top: 0
          left: 0
          position: absolute

          width: auto
          height: auto
          min-width: initial
          min-height: initial

          padding: 2px

          border: none
          box-shadow: none

          .v-btn__content
            width: 30px
            height: 20px

            background-size: 100%
            background-position: 0 0
            background-repeat: no-repeat
            background-image: url(../assets/images/icon--eye.png)

        .eyetoggle--active

          .v-btn__content
            background-image: url(../assets/images/icon--eye-active.png)

  .fade-out
    animation-delay: 5s
    animation-duration: .75s
    animation-name: fadeOut
    animation-iteration-count: 1

  @keyframes fadeOut
    0%
      opacity: 1

    100%
      opacity:0

</style>
