<template>
  <div>
    <v-container  fluid
                  class="wrapper">
      <v-row class="wrapper__row">
        <v-col  lg="6"
                sm="12"
                class="row__col">
          <Block  key="table-signinabel" 
                  class="table--thin table--signals-big"
                  :caption="$options.TableConfig.caption"
                >
              <StyledTable  :items="Table"
                            :loading="loading"
                            :config="$options.TableConfig"
                          />
          </Block>
        </v-col>
        <v-col  lg="6"
                sm="12"
                class="row__col">
          <Block  key="table-heibag"
                  :caption="$options.Table1Config.caption"
                  class="table--looking table--thin table--signals-big">
            <StyledTable  :items="Table1"
                          :loading="loading"
                          :config="$options.Table1Config"
                        />
          </Block>
          <Block  key="chart--iceberg"
                  :caption="$options.Table2Config.caption">
            <Chart :data="Table2" />
          </Block>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

  import { isObject } from 'lodash'

  import { isOnline } from '../Utils'
  import { callProc } from '../services/APointAPI'

  import Block from '../components/ui/block/Block'
  import Chart from '../components/ui/chart/Chart'
  import StyledTable from '../components/styled-tables/StyledTable'

  import { TableConfig, Table1Config, Table2Config } from '../configs/money.dashboard.config'

  export default {
    name: "MoneyDashboard",
    props: {
      onlineRange: Array,
      updateInterval: Number,
    },
    TableConfig,
    Table1Config,
    Table2Config,
    components: {
      Block,
      Chart,
      StyledTable,
    },
    mounted: function() {
      this.fetchData()
      setInterval(
        () => {
          if (isOnline(this.onlineRange))
            this.fetchData()
        }, 
        this.updateInterval
      )
    },
    methods: {
      /**
       * Fetching data for current Dashboard -> moneyDashboard
       * 
       * @returns undefined
       */
      fetchData() {
        if (this.loading) return

        this.loading = true
        
        callProc("moneyDashboard")
          .then(procResult => {
            
            if (procResult) {
              const response = JSON.parse(procResult)

              if (isObject(response)) {
              
                if (response.Table)
                  this.Table = response.Table

                if (response.Table1)
                  this.Table1 = response.Table1

                // Creating options for chartjs
                if (response.Table2) {
                  const data = {
                    labels: [],
                    datasets: [
                      {
                        fill: false,
                        label: 'סהכ גביה',
                        borderColor: '#599ad5',
                        backgroundColor: '#599ad5',
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'transparent',
                        data: [],
                      },
                      {
                        fill: false,
                        label: 'צקים',
                        borderColor: '#eb721f',
                        backgroundColor: '#eb721f',
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'transparent',
                        data: [],
                      },
                      {
                        fill: false,
                        label: 'מזומן',
                        borderColor: '#9f9f9f',
                        backgroundColor: '#9f9f9f',
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'transparent',
                        data: [],
                      },
                      {
                        fill: false,
                        label: 'אמצעי חיצוני',
                        borderColor: '#ffc000',
                        backgroundColor: '#ffc000',
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'transparent',
                        data: [],
                      },
                      {
                        fill: false,
                        label: 'הוק בנקאית',
                        borderColor: '#2f62bd',
                        backgroundColor: '#2f62bd',
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'transparent',
                        data: [],
                      },
                      {
                        fill: false,
                        label: 'העברה בנקאית',
                        borderColor: '#60a433',
                        backgroundColor: '#60a433',
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'transparent',
                        data: [],
                      },
                      {
                        fill: false,
                        label: 'הוק אשראי',
                        borderColor: '#1a568c',
                        backgroundColor: '#1a568c',
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'transparent',
                        data: [],
                      },
                      {
                        fill: false,
                        label: 'כ.א.',
                        borderColor: '#ff0037',
                        backgroundColor: '#ff0037',
                        pointBorderColor: 'transparent',
                        pointBackgroundColor: 'transparent',
                        data: [],
                      },
                    ],
                  }

                  response.Table2.reverse()

                  response.Table2.forEach(item => {
                    const date = new Date(item.Date)
                    const stringDate = `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`
                    data.labels.push(stringDate)
                    data.datasets[0].data.push(item.dailyCollection)
                    data.datasets[1].data.push(item.checks)
                    data.datasets[2].data.push(item.cash)
                    data.datasets[3].data.push(item.externalCC)
                    data.datasets[4].data.push(item.bankHok)
                    data.datasets[5].data.push(item.bankTransfer)
                    data.datasets[6].data.push(item.ccHok)
                    data.datasets[7].data.push(item.cc)
                  })

                  this.Table2 = data
                }
              }
            }

            this.$emit('setLastDate')
            this.loading = false
          })
          .catch(error => {
            this.loading = false
            console.log("moneyDashboard fetching error ", error)
          })
      },
    },
    data: () => {

      return {
        loading: false,
        Table: [{}, {}, {}, {}, {}, {}],
        Table1: [{}, {}, {}, {}, {}, {}],
        Table2: {},
      }
    },
  }
</script>