<template>
  <div>
    <v-container  fluid
                  class="wrapper">
      <v-row class="wrapper__row">
        <v-col  lg="6"
                sm="12"
                class="row__col">
          <Block  key="table" 
                  class="table--signals"
                  :caption="$options.TableConfig.caption">
            <StyledTable  :items="Table"
                          :loading="loading"
                          :config="$options.TableConfig"
                        />
          </Block>
        </v-col>
        <v-col  lg="6"
                sm="12"
                class="row__col">
          <Block  key="table1"
                  class="table--signals"
                  :caption="$options.Table1Config.caption">
            <StyledTable  :items="Table1"
                          :loading="loading"
                          :config="$options.Table1Config"
                        />
          </Block>
          <Block  key="table2"
                  :caption="$options.Table2Config.caption">
            <StyledTable  :items="Table2"
                          :loading="loading"
                          :config="$options.Table2Config"
                        />
          </Block>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>

  import { isObject } from 'lodash'

  import { isOnline } from '../Utils'
  import { callProc } from '../services/APointAPI'

  import Block from '../components/ui/block/Block'
  import StyledTable from '../components/styled-tables/StyledTable'

  import { TableConfig, Table1Config, Table2Config } from '../configs/mtc.dashboard.config'

  export default {
    name: "MTCDashboard",
    props: {
      onlineRange: Array,
      updateInterval: Number,
    },
    TableConfig,
    Table1Config,
    Table2Config,
    components: {
      Block,
      StyledTable,
    },
    mounted: function() {
      this.fetchData()
      setInterval(
        () => {
          if (isOnline(this.onlineRange))
            this.fetchData()
        }, 
        this.updateInterval
      )
    },
    methods: {
      /**
       * Fetching data for current Dashboard -> mtcDashboard
       * 
       * @returns undefined
       */
      fetchData() {
        if (this.loading) return

        this.loading = true

        callProc("mtcDashboard")
          .then(procResult => {
            
            if (procResult) {
              const response = JSON.parse(procResult)
         
              if (isObject(response)) {
                if (response.Table)
                  this.Table = response.Table

                if (response.Table1)
                  this.Table1 = response.Table1

                if (response.Table2)
                  this.Table2 = response.Table2
              }
            }

            this.$emit('setLastDate');
            this.loading = false
          })
          .catch(error => {
            this.loading = false
            console.error("mtcDashboard fetching error", error)
          })
      },
    },
    data: function() {

      return {
        loading: false,
        Table: [{}, {}, {}, {}, {}, {}],
        Table1: [{}, {}, {}, {}, {}, {}],
        Table2: [{}, {}, {}, {}, {}, {}],
      }
    },
  }

</script>