<template>
  <v-app :class="['app', { 'app--noauth': !isAuth }]">
    <div v-if="isAuth">
      <Header @navigation="navigation"
              @updateScreen="updateScreen"
              
              :logo="logo"
              :isAuth="isAuth"
              :menuItem="currentRoute"
              :lastUpdate="lastUpdate"
              :onlineRange="onlineRange"
            />
      <v-main>
        <component  v-if="ready"
        
                    @setLastDate="setLastDate"

                    :is="getCurrentRoute"
                    :onlineRange="onlineRange"
                    :updateInterval="updateInterval"
                  />
      </v-main>
      <Footer />
    </div>
    <Login v-else />
  </v-app>
</template>

<script>
  import { routers__map } from "./routers.config"
  import { apiGetSessionToken, callProc, apiParam } from "./services/APointAPI"
  import { getDateTime, getOnlineRanges, getPrivateData, hasAuth } from "./Utils"

  import Page404 from "./routers/404"
  import Login from "./routers/Login"
  import Header from "./components/Header"
  import Footer from "./components/Footer"

  import "./assets/styles/main.sass"

  export default {
    name: "App",

    components: {
      Login,
      Header,
      Footer,
    },
    data: () => ({
      logo: "",
      ready: false,
      lastUpdate: "",
      updateInterval: 10 * 60 * 1000,
      currentRoute: window.location.pathname,
      onlineRange: getOnlineRanges("08:00:00", "16:00:00"),
    }),
    mounted: async function() {
      const privateData = getPrivateData('appd');
      if (this.isAuth) {
        apiGetSessionToken(
          privateData.c,
          privateData.a,
          privateData.b
        ).then(() => {
            callProc("appLogoCompany", apiParam("compID", privateData.c)).then(
              (logoResult) => {
                if (logoResult) {
                  const result = JSON.parse(logoResult)

                  this.logo = `data:image/png;base64,${result.Table[0]["לוגו החברה"]}`
                }
                
                this.ready = true
              }
            )
          }).catch((error) => {
            console.log("sessionToken Error")
            console.log(error)
          })
      }
    },
    computed: {
      /**
       * Returns current route component
       * 
       * @returns object
       */
      getCurrentRoute() {
        
        return routers__map[this.currentRoute] || Page404
      },
      /**
       * Chekcing is application Authenticated
       * 
       * @returns boolean
       */
      isAuth: function() {
        return hasAuth()
      }
    },
    methods: {
      /**
       * Navigating to route link
       * 
       * @param { string } route
       * 
       * @returns undefined
       */
      navigation: function(route) {
        this.currentRoute = route

        window.history.pushState({ route }, document.title, route)
      },
      /**
       * Setting last update date
       * 
       * @returns undefined
       */
      setLastDate: function() {
        this.lastUpdate = getDateTime()
      },
      /**
       * Updating screen (v-main content)
       * 
       * @returns undefined
       */
      updateScreen: function() {
        this.ready = false
        setTimeout(() => (this.ready = true), 1)
      },
    },
  }
</script>
