@import '../fonts/font'

body
  overflow-x: auto

body,
.v-application,
.v-application .caption
  font-family: "OpenSansHebrew" !important

.v-application
  position: relative

  min-width: 1000px
  min-height: 100vh

  font-size: 18px
  font-style: normal
  font-weight: normal

  overflow: hidden

  &::after,
  &::before
    content: ''

    width: 100%

    top: 0
    left: 0
    z-index: -1
    position: absolute

  &::after
    top: 0

    height: 2px
  
    padding-top: 5px
    border-top: 5px solid #3789c8
    border-bottom: 2px solid #B7B7B7


  &::before
    top: 17px

    border-bottom: 1px solid #B7B7B7

  &.app--noauth

    &::after,
    &::before
      z-index: 1

  .container
    padding-top: 0
    padding-bottom: 0

  .col
    padding-top: 0
    padding-bottom: 0

.theme--light.v-application
  background-size: cover !important
  background-repeat: no-repeat !important
  background-attachment: fixed !important
  background-position: top left !important
  background-color: transparent !important
  background-image: url(../images/background.png) !important
  
  color: #3D3D3D !important

.theme--light.v-chip.chip
  min-width: 45px

  padding: 12px

  border-radius: 5px

  color: #3D3D3D

.theme--light.v-chip.chip:hover::before,
.theme--light.v-chip.chip:active::before,
.theme--light.v-chip.chip.v-chip--active::before
  opacity: 0

.wrapper
  padding: 0

.row__col
  padding-left: 30px
  padding-right: 30px

.table--looking
  margin-bottom: 25px

.table--signals
  tr:not(.v-data-table__progress)
    th
      height: 97px !important

  &-big
    tr:not(.v-data-table__progress)
        th
          height: 121px !important

.table--thin
  td,
  th
    padding-left: 4px !important
    padding-right: 4px !important

.v-data-footer,
.v-data-footer__select .v-select__selections .v-select__selection--comma
  font-size: 16px

.block
  margin-bottom: 24px
  
  .theme--light.v-data-table
    background: transparent

    .v-data-table__wrapper

      table

        thead
          vertical-align: top

          th
            padding: 12px

            color: #1967A3
            font-size: 18px
            line-height: 24px
            font-weight: normal
            
            @media screen and ( max-width: 1340px )
              padding-left: 4px
              padding-right: 4px

              font-size: 14px

        tbody

          tr
            background-color: #fff
            border-top: 2px solid #1967A3
            
            td
              height: auto
              padding-left: 12px
              padding-right: 12px

              background-color: #fff

              font-size: 18px
              line-height: 1.2

              @media screen and ( max-width: 1340px )
                padding-left: 4px
                padding-right: 4px

                font-size: 14px

              .chip
                display: inline-flex

                padding: 10px

                border-radius: 5px

                color: #3D3D3D
                font-size: 18px

                &:not(.v-chip)
                  padding-left: 0
                  padding-right: 0

                &.v-chip--no-color
                  background-color: transparent !important

            .td--total
              color: #3789C8
              background-color: #E5F4FF

              .chip
                color: #3789C8 !important

              &:first-child
                .chip
                  font-weight: bold !important

            &:first-child
              td
                border-top: 2px solid #1967A3
                
            &:not(:last-child) > td:not(.v-data-table__mobile-row), 
            &:not(:last-child) > th:not(.v-data-table__mobile-row)
              border-bottom: 1px solid #DADADA

  .v-data-footer
    background-color: #fff
                  